# dependencies
node_modules/

# pnpm
.pnpm-store/

# build
dist/
build/
.next/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log

# misc
.DS_Store
.turbo/
